html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

html {
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: transparent;
}

body {
	font-family: "微软雅黑", "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.5;
	color: #292b2c;
	background-color: #F7F7F7;
}

table {
	border-collapse: collapse;
	background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: 5px;
}


/* flexslider S */

.flexslider {
	margin: 0;
	border: none;
}

.flex-control-nav {
	bottom: 40px;
}

.flex-direction-nav a {
	height: 52px;
}

.flex-control-paging li a:hover,
.flex-control-paging li a.flex-active {
	background-color: #FF8C00;
}

.flex-direction-nav .flex-prev,
.flex-direction-nav .flex-next {
	right: 0px;
}


/* filter E */

.filter {
	background-color: #ffffff;
	border: 1px solid #e5e5e5;
	z-index: 1000;
	width: 1200px;
	font-size: 12px;
	padding: 10px 15px;
}

.filter-options>dl {
	display: block;
	height: 25px;
	line-height: 15px;
	_zoom: 1;
}

.filter-options>dl {
	border-bottom: 1px dashed #e6e6e6;
}

.filter-options>dl>dt,
.filter-options>dl>dd {
	display: block;
	z-index: 0;
	float: left;
}
.filter-options>dl>dt {
	font-weight: bolder;
	color: #666666;
	margin-left: 5px;
}
.filter-options>dl>dd {
	margin-left: 15px;
}
.filter-options > dl > dd > label:hover,
.filter-options > dl > dd.active > label {
	cursor: pointer;
	color: #ed6c00;
}

/* filter S */


/* color S */

.text-dark-darkturquoise {
	color: #00CED1;
}

.text-dark-orangered {
	color: #FF4500;
}

.text-dark-orange {
	color: #FF8C00;
}

.text-white {
	color: #FFF;
}

.text-dark-darkgray {
	color: #A9A9A9;
}

.bg-dark-orange {
	background-color: #FF8C00;
}

.bg-white {
	background-color: #FFF;
}

.bg-dark-darkgray {
	background-color: #F5F5F5;
}


/* color E */


/* grid S */

.container {
	position: relative;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.row {
	position: relative;
	width: inherit;
}

.x1,
.x2,
.x3,
.x4,
.x5,
.x6,
.x7,
.x8,
.x9,
.x10,
.x11,
.x12 {
	position: relative;
	min-height: 1px
}

.line-big {
	margin-left: -10px;
	margin-right: -10px
}

.line-big .x1,
.line-big .x2,
.line-big .x3,
.line-big .x4,
.line-big .x5,
.line-big .x6,
.line-big .x7,
.line-big .x8,
.line-big .x9,
.line-big .x10,
.line-big .x11,
.line-big .x12 {
	position: relative;
	min-height: 1px;
	padding: 10px;
}

.x1,
.x2,
.x3,
.x4,
.x5,
.x6,
.x7,
.x8,
.x9,
.x10,
.x11,
.x12 {
	float: left
}

.x1 {
	width: 8.33333333%
}

.x2 {
	width: 16.66666667%
}

.x3 {
	width: 25%
}

.x4 {
	width: 33.33333333%;
	width: 31% \0;
	*width: 30%;
}

.x5 {
	width: 41.66666667%
}

.x6 {
	width: 50%;
	width: 48% \0;
	*width: 47%;
}

.x7 {
	width: 58.33333333%
}

.x8 {
	width: 66.66666667%
}

.x9 {
	width: 75%
}

.x10 {
	width: 83.33333333%
}

.x11 {
	width: 91.66666667%
}

.x12 {
	width: 100%
}

.container:after,
.line-big:after {
	content: " ";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	overflow: hidden
}

.container,
.line-big {
	display: block
}


/* grid E */


/* nav S */

.nav {
	display: table;
	*display: inline;
	padding-left: 0;
	margin: 0;
	list-style: none;
}

.nav>.nav-item {
	display: table-cell;
	*float: left;
}

.nav-fill>.nav-item {
	width: 240px;
	*width: 200px;
	background-color: #FFF;
}

.nav-link,
.nav-link-sm {
	display: block;
}

.nav-link {
	font-size: 18px;
	padding: 5px 15px;
}

.nav-link-sm {
	font-size: 14px;
	padding: 0px 10px;
}

.nav-link,
.nav-link:focus,
.nav-link:hover,
.nav-link-sm,
.nav-link-sm:focus,
.nav-link-sm:hover {
	text-decoration: none;
}

.nav-link:hover,
.nav-link-sm:hover {
	color: #FF8C00;
	background-color: #FFF;
}


/* nav E */


/* item */

.item {
	background-color: #FFF;
}

.item a,
.item a:visited {
	color: #727272;
	text-decoration: none;
}

.item-header h3 {
	float: left;
	margin: 0;
	color: #727272;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 14px;
}

.item-header span {
	display: inline-block;
	*display: inline;
	color: #727272;
	text-transform: uppercase;
	font-size: 12px;
}

.item-header .favorite {
	float: right;
}

.item-img {
	position: relative;
	overflow: hidden;
}

.item-img img {
	width: 100%;
	height: 100%;
}

.item-img .rent {
	display: inline;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	padding: 8px 10px;
	border-radius: 2px;
	color: #fff;
	text-transform: uppercase;
	font-size: 10px;
	position: absolute;
	top: 20px;
	right: 20px;
	background-color: #4caf50;
}

.item-detail span {
	color: #727272;
	text-transform: uppercase;
	font-size: 12px;
}

.item-detail .price {
	text-transform: uppercase;
	margin-right: 0;
	padding-left: 0;
	color: #212121;
	font-size: 14px;
	font-weight: 900;
}

.item-header,
.item-detail {
	overflow: hidden;
	padding: 10px 15px;
}


/* btn S */

.btn {
	display: inline-block;
	*display: inline;
	line-height: 1.25;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	border: 1px solid transparent;
	padding: 5px 16px;
	font-size: 16px;
	cursor: pointer;
}

.btn:focus,
.btn:hover {
	text-decoration: none;
	outline: 0;
}

.btn:active,
.btn.active {
	background-image: none;
}

.btn-dark-orange {
	color: #fff;
	background-color: #FF8C00;
	border-color: #FF8C00;
}

.btn-dark-orange:hover {
	background-color: #DE7C04;
}


/* btn E */


/* form S */

.form-control {
	/*display: block;*/
	padding: 5px 14px;
	font-size: 16px;
	line-height: 1.25;
	color: #FF8C00;
	outline: 0;
}


/* form E */


/* spacing S */

.clearfix {
	display: block;
}

.clearfix:after,
.clearfix:before {
	display: table;
	content: ""
}

.clearfix:after {
	clear: both
}

.text-left {
	text-align: left
}

.text-center {
	text-align: center
}

.text-right {
	text-align: right !important
}

.font-size-12 {
	font-size: 12px;
}

.font-size-46 {
	font-size: 46px;
}

.display-block {
	display: block;
}

.display-inline {
	display: inline-block;
	*display: inline;
}

.w-100p {
	width: 100% !important;
}

.h-80 {
	height: 80px;
}

.float-left {
	float: left !important;
}

.float-right {
	float: right !important;
}

.float-none {
	float: none !important;
}

.pl-40 {
	padding-left: 40px;
}


/* spacing E */