.text-left {
	text-align: left
}

.text-center {
	text-align: center
}

.text-right {
	text-align: right !important
}

.font-size-12 {
	font-size: 12px;
}

.font-size-46 {
	font-size: 46px;
}

.display-block {
	display: block;
}

.display-inline {
	display: inline-block;
	*display: inline;
}

.w-100p {
	width: 100% !important;
}

.h-80 {
	height: 80px;
}

.float-left {
	float: left !important;
}

.float-right {
	float: right !important;
}

.float-none {
	float: none !important;
}
.pl-40 {
	padding-left: 40px;
}
